/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/************************************************************************************ 
									Main Styles
 ************************************************************************************/

:root {
/*#86A8E7, #b08fd2, #e8cf8d #7F7FD5, #E4E4E4*/
}

html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	background: #E4E4E4;
}

section.showcase {
	background: linear-gradient(-140deg, #7F7FD5, #86A8E7, #b08fd2, #e8cf8d);
	height: 100vh;
	position: relative;
	overflow: hidden;
}

section.showcase div.showcase-container {
	width: 90%;
	margin:	0 auto;
}

section.showcase::after {
	display: block;
	content: '';
	width: 100vw;
	height: 200px;
	background: #E4E4E4;
	position: absolute;
	left: 0;
	bottom: -18%;
	transform: skewY(-5deg);
	z-index: 1;
}

section.showcase::before {
	display: block;
	content: '';
	width: 100vw;
	height: 200px;
	background: #E4E4E4;
	position: absolute;
	left: 0;
	bottom: -18%;
	transform: skewY(5deg);
	z-index: 1;
}

section.showcase header {
	height: 70px;
	padding-bottom: 15px;
	border-bottom: 2px solid #FFFFFF;
	display: flex;
	justify-content: space-between;
}

section.showcase div.logo {
	margin-top: 34px;
}

section.showcase div.logo p {
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

.login-form {
	padding: 2px;
	margin-top: 25px;
	overflow: hidden;
}

.login-form input {
	all: unset;
	border-radius: 5px;
	outline: none;
	padding: 4px;
	width: 120px;
	margin-left: 5px;
	background: #FFF;
	color: #000;
	border: 1px solid #ececec;
	box-shadow: 2px 2px 5px grey;
}

.login-form input:nth-child(1),
.login-form input:nth-child(2) {
	padding-left: 10px;
	background: transparent;

}

.login-form input:nth-child(1)::placeholder,
.login-form input:nth-child(2)::placeholder {
	color: #E4E4E4;
	font-size: 14px;
	font-family: sans-serif;
	text-shadow: 1px 1px 5px #000;
}

.login-form input.login-submit {
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	margin-left: 15px;
	cursor: pointer;
	font: 400 13.333px Arial;
	border-radius: 20px;
	text-align: center;
	border: 1px solid #ececec;
	box-shadow: 2px 2px 2px grey;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.3);
	color: #FFF;
	position: relative;
	transition: 650ms;
}

.login-form input.login-submit:hover {
	background: rgba(0, 0, 0, 0.6);
}

.showcase-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 70px;
}

.showcase-content article {
	width: 50%;
}

.showcase article h1 {
	color: #FFF;
	font-size: 60px;
	font-weight: 100;
	line-height: 1em;
	font-family: Josefin Sans,sans-serif;
	margin: 0;
	text-transform: lowercase;
	text-shadow: 1px 0 5vh hsla(0,0%,100%,.6);
}

.showcase article p {
	font-size: 17px;
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1.95;
	color: rgba(255,255,255,0.8);
	text-shadow: 1px 1px 6px black;
}

.showcase article a {
	display: block;
	text-decoration: none;
	color: #FFF;
}

.showcase article button {
	box-sizing: border-box;
	width: 135px;
	height: 50px;
	margin: 30px 0 0 15px;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
	border: 1px solid #ececec;
	box-shadow: 2px 2px 2px grey;
	font-weight: bold;
	font-size: 18px;
	overflow: hidden;
	padding: 0;
	position: relative;
	outline: none;
}

.showcase article button::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .3), transparent);
	transition: all 650ms;
}

.showcase article button:hover::before {
	left: 100%;
}
/* Footer */
footer {
	background: #FFF;
	z-index: 20;
	box-shadow: inset 0px 3px 15px 1px #E4E4E4;
}
footer .footer-container{
	width: 90vw;
	margin: 0 auto;
	padding: 60px 0 20px 0;
	display: flex;
	justify-content: space-around;
	color: #000;
}

footer .footer-container div{
	width:	20%;
	line-height: 1.4rem;

}

footer .footer-copyright{
	width: 90vw;
	margin: 0 auto;
	background: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	color: #000;
	border-top: 1px solid #000;
}

footer .footer-container div:nth-child(2) ul,
footer .footer-container div:nth-child(3) ul,
footer .footer-container div:nth-child(4) ul {
	list-style: none;
}

footer .footer-social {
	display: flex;
	justify-content: space-around;
}

footer .footer-container > div h1{
	border-left: 2px solid #e8cf8d;
	margin-bottom: 20px;
	padding-left: 10px;
	font-weight: bold;
}

footer .footer-container .footer-black-1 p {
	line-height: 1.4rem;
}

footer .footer-black-2 ul li {
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
	padding-bottom: 5px;
	transition: .5s;
}

footer .footer-black-2 ul li:hover {
	border-bottom: 1px solid #e8cf8d;
}

footer .footer-black-2 ul li a {
	text-decoration: none;
	font-weight: bold;
	color: grey;	
	transition: 1s;
	display: block;
}

footer .footer-black-2 ul li a:hover {
	color: black;	
}

footer .footer-black-3 ul {
	margin-top: 10px;
}

footer .footer-black-3 ul li {
	margin-top: 5px;
}

footer .footer-black-3 ul li i{
	width: 20px;
	height: 20px;
	font-size: 18px;
	margin-right: 10px;
}

footer .footer-black-4 ul {
	margin-top: 20px;
}

footer .footer-black-4 ul li i{
	width: 20px;
	height: 20px;
	font-size: 30px;
	cursor: pointer;
	transition: .5s;
}

footer .footer-black-4 ul li i:hover{
	color: #e8cf8d;
}
/************************************************************************************ 
									Responsive design
 ************************************************************************************/

/*Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
	section.showcase {
		height: initial;
		padding-bottom: 70px;
	}

	section.showcase::after,
	section.showcase::before {
		display: none;
	}


}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
	.showcase img {
		display: none;
	}

	.showcase article {
		width: 100%;
		margin-top: 80px;
		border-radius: 4px;
		text-align: center;
	}

	.form-container::before {
		height: 10rem;
	}

	.form-container .form-heading {
		left: 50%;
		transform: translateX(-50%);
	}

	.form-container form {
		border-radius: initial;
		transform: initial;
		box-shadow: none;
	}
	#signup-anchor > div::before {
		top: -30px;
	}

	#signup-anchor > div {
		padding: 1rem 0;
	}
	/* Footer */
	footer .footer-container {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	footer .footer-container div{
		margin-left: 0;
		margin-top: 20px;
		width: 40%;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
	section.showcase header {
		height: 130px;
		padding-bottom: 15px;
		border-bottom: 2px solid #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.login-form input {
		width: 80px;
	}
	.showcase-content {
		justify-content: center;
		align-items: center;
		margin-top: 0;
	}
	/* Footer */
	footer .footer-container {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	footer .footer-container div{
		margin-left: 0;
		margin-top: 30px;
		width: 80%;
	}
}

/* Small devices (landscape phones, 380px and up) */
@media screen and (max-width: 380px) {
	section.showcase header {
		height: 200px;
	}

	.login-form {
		height: 200px;
		margin: 15px 4px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.login-form {
		overflow: visible;
	}
	.login-form input {
		width: 100%;
	}
}
